body {
  background-image: url(/img/clove-valorant.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.calendario {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 20px;
  width: 350px;
  height: 300px;
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.header h2 {
  margin: 0;
}

.semanadias, .dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  text-align: center;
}

.semanadias div {
  font-weight: bold;
  padding: 10px 0;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.dias div {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  transition: background 0.3s;
}

.dias div:hover {
  background: #007bff;
  color: white;
  cursor: pointer;
}

.hoje {
  background-color: #007bff;
  color: white;
}

.data-diff {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  color: white;
}

